<h1>This is the index page</h1>
.<ul>
  <% @articles.each do | article | %>
    <a href="/articles/<%= article.id %>">
    <strong><%= article.title %></strong>
    <p><%= article.content %></p>
    <%= link_to 'Show', article_path(article.id) %>
  <% end %>
</ul>

<%= link_to 'New', articles_new_path %>